beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
fonttools==3.26.0
future==0.16.0
html5lib==1.0.1
idna==2.6
lxml==4.2.1
pycryptodomex==3.6.1
requests==2.18.4
selenium==3.12.0
six==1.11.0
urllib3==1.22
webencodings==0.5.1
